   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
    }
    body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image:linear-gradient(to bottom,rgb(61, 36, 56),rgb(161, 15, 161),rgb(153, 27, 144)) ;
    }
    h1{
        align-items: center;
        padding:center;
        padding-bottom: 20px;
        color:#fff;
    text-align: center;
    text-decoration: underline;
    }
    nav{
        border-radius: 20pc;
        background-color: none;
        height: 50px;
        list-style: none;
        display: flex;
        justify-content: flex-end; 
        align-items: center;
    }
    nav a {
        height: 100%;
        padding: 0 30px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: rgb(255, 239, 239);
    }
    
    nav a:hover {
        border-radius: 50px;
        box-shadow: 0,0,0,rgb(0, 0, 0,0.015);
        background-color: #8509646b;
    }
    nav a:hover {
        border-radius: 50px;
        box-shadow: 0,0,0,rgb(0, 0, 0,0.015);
        background-color: #8509646b;
    }

    main{ 
    position: center;
    width: 200px;
    height: 200px;
    background:blueviolet;
    color: #ebe9e9;
    border-radius: 20px;
    }
    
mani h1{
    font-size: 36px;
    text-align: center;
}nav a{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
    main input{
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        border: 2px solid white;
        border-radius: 40px;
    }
    main input::placeholder{ 
        font-family: bold;
        padding: 20px;
        color: #110f0f;
    }
    button{
        width: 100%;
        height: 45px;
        background-color: #fff;
        border: none;
        outline: none;
        border-radius: 40px;
        box-shadow:  0 0 10px rgba(0,0,0,.1);
        cursor: pointer;
        font-size: 16px;
        color: #333;
        font-weight: 600;
        
    }